include header.html

div(class="receipt")
  div(class="store")="IGA"
    div(class="details")
      ul
        li(class="date")="2013-10-25"

        li(class="tax")="TVQ 1000534711"
        li(class="tax")="TPS 104902135"


    div(class="items")
      div(class="item d_perso")
        div(class="item_name")="24-pack Budweiser"
        div(class="item_price")="27.99$"
      div(class="item d_perso")
        div(class="item_name")="Redbull"
        div(class="item_price")="2.99$"
      div(class="item d_perso")
        div(class="item_name")="Kleenex"
        div(class="item_price")="1.20$"
      div(class="item d_auto")
        div(class="item_name")="Gaz"
        div(class="item_price")="70.00$"

include footer.html